@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('../font/Maplestory\ Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body { font-family: 'MaplestoryOTFBold'; overflow-x: hidden; height: 100%;}
* {margin: 0; padding: 0;}
li {list-style: none;}
a {display: block; text-decoration: none; color: #212121; text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3)}
img {width: 100%;}

/*main*/
.main, .sub1, .sub2 {
    width: 100%;
}
.header {
    width: 100%;
}
.header .header1 {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 43vw;
    margin-left: 5vw;
}
.menu_btn {
    position: absolute;
    top: -2vw;
    right: 0;
    width: 10vw;
    margin-top: 8vw;
    margin-right: 5vw;
}
.header1 {margin-top: 5vw; width: 50%;}
.header2 {
    height: 40px;
    background-color: #c91e1e;
    margin-top: -1vw;
}
.header2 ul {
    display: flex;
    justify-content: space-between;
}
.header2 ul li {width: 25vw;}
.header2 ul li a {
    text-align: center;
    line-height: 40px;
    font-size: 5vw;
}

.nav {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 50%;
    height: 440px;
    padding: 5vw;
    z-index: 100;
    background-color: black;
}
.nav a {
    text-shadow: none;
    color: #fff;
    font-size: 6vw;
    padding: 3vw;
    float: right;
}
.nav .close {
    width: 100%;
}
.nav .close a {
    width: 10vw;
    float: right;
}
.nav ul {
    margin-top: 20vw;
    display: flex;
    flex-direction: column;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-prev, .swiper-button-next {
    color: #212121;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6)
}
.swiper-pagination-bullet {
    background-color: #fff;
}

.tab {
    width: 100%;
    margin-top: 10vw;
}
.tab h3 {
    background-color: #c91e1e;
    width: 20vw;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
    border: 1px solid #c91e1e;
    border-radius: 10px;
}
.tab .tab_title {
    display: flex;
    margin-top: 5vw;
}
.tab .tab_title a {
    width: 50vw;
    height: 50px;
    text-align: center;
    font-size: 4vw;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.85);
}
.tab .tab_title a.active {
    text-shadow: 1px 1px 1px #fff;
    font-size: 5vw;
}
.tab .tab_content {
    width: 100%;
    height: 360px;
    background-color: #212121;
    position: relative;
}
.tab .tab_content ul li {
    width: 20vw;
    text-align: center;
    padding: 1vw;
}
.tab .tab_content ul li a {
    color: #fff;
}
.tab .tab_content > div {
    position: absolute;
    top: 0;
    left: 0;
}

.allcon {
    width: 100%;
    padding-top: 8vw;
}
.allcon ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.allcon ul li:first-child {margin-bottom: 6vw;}

.t1 {background-color: #525f84;}
.t2 {background-color: #669845;}
.t3 {background-color: #a35135;}
.t4 {background-color: #aeaeae;}

.banner1 {margin-top: 10vw;}

.footer {
    width: 100%;
    height: 250px;
    margin-top: 10vw;
}
.f_logo {
    width: 43vw;
    margin: 0 auto;
}
.footer address {
    margin-top: 5vw;
    font-style: normal;
    font-size: 2.7vw;
    text-align: center;
    line-height: 20px;
}
.main_icon {
    width: 100%;
    height: 55px;
    bottom: 0;
    position: fixed;
    background-color: black;
    z-index: 101;
}
.main_icon ul {
    display: flex;
    justify-content: space-around;
}
.main_icon ul li {padding: 2.2vw}

.section1 {
    width: 100%;
    height: 1000px;
}
.section1 h1 {
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}
.section1 h2 {
    text-align: center;
    margin-bottom: 5vw;
}
.section1 h4 {
    line-height: 30px;
}

.section2 {
    width: 100%;
    height: 753px;
    background-image: url(../img/down.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.play {
    width: 12vw;
    position: absolute;
    top: 33%;
    left: 25%;
}
.play p {
    font-size: 3vw;
    white-space: nowrap;
    text-align: center;
}
.app {
    width: 12vw;
    position: absolute;
    top: 33%;
    right: 25%;
}
.app p {
    font-size: 3vw;
    white-space: nowrap;
    text-align: center;
}